@page "/client"
@using ClientShared

<h1>Query</h1>

<style>
    .oi-x{
        color:red;
    }
    .oi-check{
        color:greenyellow;
    }
</style>
<div class="row">
    <span class="col-2 text-center" style="font-family:Consolas">数据库连接uri</span>
    <input class="form-control col-6" @onchange="SetUri"/>
    <span class="col-1 oi @icon"></span>
</div>

<input class="form-control col-8" placeholder="input..." @bind="s" />
@if (addVal)
{
    <button class="btn btn-outline-info" @onclick="AddVal">Add val&&send</button>
}
else
{
    <button class="btn btn-primary" @onclick="Select">Select</button>
    <button class="btn btn-outline-success" @onclick="AddKey">Add key</button>
    <button class="btn btn-outline-danger" @onclick="Delete">Delete</button>
}
@foreach (var item in logs)
{
    if (item.StartsWith("response"))
    {
        <p style="text-decoration-color:darkmagenta">@item</p>
    }
    else
    {
        <p>@item</p>
    }
}

@code {
    int currentCount = 0;
    List<string> logs;
    Client client;
    bool addVal;
    string s;
    string addS;
    string icon;
    protected override void OnInitialized()
    {
        client = new Client();
        logs = new List<string>();
        addVal = false;
    }
    async Task AddKey()
    {
        addVal = true;
        addS = $"set {s} ";
        s = "";
    }
    async Task AddVal()
    {
        addVal = false;
        addS = addS + s;
        logs.Add(addS);
        var re = await client.PostAsync(addS);
        logs.Add("response" + re);
    }
    async Task Delete()
    {
        logs.Add($"delete {s}");
        var re = await client.PostAsync(logs.LastOrDefault());
        logs.Add("response" + re);
    }
    async Task Select()
    {
        logs.Add($"get {s}");
        var re = await client.PostAsync(logs.LastOrDefault());
        if (re == null || re == "")
        {
            logs.Add("Nothing Found!");
        }
        else
        {
            logs.Add("response:" + re);
        }
    }
    async Task SetUri(ChangeEventArgs args)
    {
        client.SetUri(args.Value.ToString());
        try
        {
            await client.TestConnection();
            icon = "oi-check";
        }
        catch (Exception)
        {

            icon = "oi-x";
        }
    }
}
